---
import AsideMenu from "../components/AsideMenu.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Spotify clone</title>
  </head>
  <body>
    <div id="app" class="h-screen relative p-2 gap-2">
      <aside class="[grid-area:aside] flex-col flex overflow-y-auto">
        <AsideMenu />
        <main class="[grid-area:main] rounded-lg bg-zinc-900 overflow-y-auto">
          MAIN
        </main>
        <footer class="[grid-area:player] min-h-[100px]">PLAYER</footer>
        <slot />
      </aside>
    </div>
  </body>
</html>
